#about {
  display: flex;
}

#about textarea {
  width: 100%;
}

#about-info {
  width: 100%;
  padding: 0 15px;
}

#about-info span {
  padding: 10px;
}

img {
  width: 100%;
  max-width: 300px;
  object-fit: cover;
  margin-top: 8px;
}

#img-edit {
  max-width: 400px;
}

#actions, #about {
  padding: 10px 25px;
}

#edit-image-btn {
  display: flex;
}

#imageBackdropEdit .modal-body label {
  display: flex;
  flex-direction: column;
}

#actions {
  margin-left: -29px;
}

#actions button, #edit-image-btn {
  background: rgba(91, 31, 142, 0.75);
  color: #fff;
  border: none;
  padding: 4px 10px;
  margin: 0 5px;
  transition: all .1s;
  border-radius: 3px;
  backdrop-filter: blur(4px);
}

#actions button:hover, #edit-image-btn:hover {
  background: rgba(91, 31, 142, 0.6);
  backdrop-filter: blur(8px);
}

@media (max-width: 800px) {
  #about {
    flex-direction: column;
    align-items: center;
  }

  #about img {
    width: 100%;
    min-width: 200px;
  }
}

@media (max-width: 755px) {
  #about .d-flex {
    flex-direction: column;
  }

  #about-info {
    padding: 0;
  }
}