.card {
  width: 17rem;
  margin-right: 6px;
  padding: 0;
}

h2 {
  margin-top: 5px;
}

#options {
  display: flex;
  justify-content: space-between;
}

.projects-container {
  width: min-content;
  padding: 0;
}

#createElement {
  margin-top: 6px;
}

#actions-container {
  position: relative;
  padding: 0 0 25px;
}

#actions {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#actions button {
  background: rgba(91, 31, 142, 0.75);
  color: #fff;
  border: none;
  padding: 6px 8px;
  transition: all .1s;
  backdrop-filter: blur(4px);
}

#actions button:hover {
  background: rgba(91, 31, 142, 0.6);
  backdrop-filter: blur(8px);
}

#actions button:first-child {
  border-radius: 4px 0 0 0;
}

#actions button:last-child {
  border-radius: 0 4px 0 0;
}

label, input {
  display: flex;
  flex-direction: column;
}

label {
  padding-bottom: 10px;
}

span {
  padding-bottom: 4px;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a059db;
  --bs-btn-border-color: #a059db;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8d52bd;
  --bs-btn-hover-border-color: #8d52bd;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a059db;
  --bs-btn-active-border-color: #a059db;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a059db;
  --bs-btn-disabled-border-color: #a059db;
  transition: all .2s;
}