.card {
  width: 17rem;
  margin-right: 6px;
  padding: 0;
}

h2 {
  margin-top: 5px;
}

#options {
  display: flex;
  justify-content: space-between;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #a059db;
  --bs-btn-border-color: #a059db;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #8d52bd;
  --bs-btn-hover-border-color: #8d52bd;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #a059db;
  --bs-btn-active-border-color: #a059db;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #a059db;
  --bs-btn-disabled-border-color: #a059db;
  transition: all .2s;
}