<button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#formModal">Ingreso</button>

<div class="modal fade" id="formModal" tabindex="-1" aria-labelledby="formModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ingreso</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form class="modal-body" onsubmit="">
        <label>
          Nombre de Usuario
          <input type="text" class="form-control">
        </label>

        <label>
          Contraseña
          <input type="password" class="form-control">
        </label>

        <input type="submit" value="Registrarse" class="btn btn-primary">
      </form>
    </div>
  </div>
</div>