<h2>Educación</h2>
<div class="row" ngsReveal>
  <div class="col-lg-11">
    <ul *ngFor="let education of educations">
      <li ngsReveal *ngIf="!editMode">
        <h5>
          {{ education.title || "Cargando..." }}
        </h5>
        <p>{{ education.body || "Cargando..." }}</p>
      </li>
    </ul>
  </div>
</div>

<div *ngFor="let education of educations">
  <!-- Modal Editor -->
  <div
    class="modal fade"
    id="educationBackdrop{{ education.id }}"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Editar habilidad
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form class="modal-body">
          <label>
            <span>Nombre de tu educación</span>
            <input
              type="text"
              class="form-control"
              placeholder="Por ejemplo: Ingeniería Informatica - Facultad de Ingeniería"
              value="{{ education.title }}"
              id="educationName{{ education.id }}"
              required
            />
          </label>

          <label>
            <span>Descripción</span>
            <input
              type="text"
              class="form-control"
              placeholder=""
              value="{{ education.body }}"
              id="educationDescription{{ education.id }}"
              required
            />
          </label>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="{{ education.id }}"
            (click)="saveElement($event)"
          >
            {{ saveState }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Create Element Editor -->
  <div
    class="modal fade"
    id="educationBackdropCreate"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">
            Añadir educación
          </h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>
        <form class="modal-body">
          <label>
            <span>Nombre de tu educación</span>
            <input
              type="text"
              class="form-control"
              placeholder="Por ejemplo: Ingeniería Informatica - Facultad de Ingeniería"
              id="createEducationName{{ education.id }}"
              required
            />
          </label>

          <label>
            <span>Descripción</span>
            <input
              type="text"
              class="form-control"
              id="createEducationDescription{{ education.id }}"
              required
            />
          </label>
        </form>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            id="{{ education.id }}"
            (click)="createElement($event)"
          >
            {{ saveState }}
          </button>
        </div>
      </div>
    </div>
  </div>

  <ul id="educationContainer{{ education.id }}">
    <li ngsReveal *ngIf="editMode">
      <div id="actions">
        <button
          [attr.data-bs-toggle]="'modal'"
          [attr.data-bs-target]="'#educationBackdrop' + education.id"
          title="Editar"
        >
          <i class="bi bi-pencil"></i>
        </button>
        <button
          (click)="deleteElement($event)"
          id="{{ education.id }}"
          title="Borrar"
        >
          <i class="bi bi-trash3"></i>
        </button>
      </div>
      <h5 id="educationTitle{{ education.id }}">
        {{ education.title || "Cargando..." }}
      </h5>
      <p>{{ education.body || "Cargando..." }}</p>
    </li>
  </ul>
</div>

<button
  [attr.data-bs-toggle]="'modal'"
  [attr.data-bs-target]="'#educationBackdropCreate'"
  class="btn btn-primary"
  *ngIf="editMode"
  id="createElement"
  title="Añadir educación"
  ngsReveal
>
  Añadir educación
</button>
